:root {
    --backgroundColor:  rgb(69, 93, 232);
}

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
    
}

i {
    padding-right: 5px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 216, 218);
}

header {
    background-color: rgb(20, 53, 240);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header i {
    font-size: 3rem;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.keySelectorBody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
}
.keySelectorBody h2 {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.keySelector {
     display: flex;
     flex-direction: column;
     align-items: center;
}


.input {
    width: 100%;
   text-align: center;
}
#chosenKey {
   max-width: 75px;
}


.scaleSelectorBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  
}

.scaleSelectorBody h2 {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.scaleChoices {
    gap: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--backgroundColor);
    padding: 20px;
 
}

.scaleChoices button {
    background-color: rgb(212, 219, 247);
    border-radius: 5px;

}
.hide {
    opacity: 0;
}


#answer {
    flex: 1;
    display: flex;
    background-color: var(--backgroundColor);
    min-height: 20px;
    min-width: 100%;
   justify-content: space-evenly;
   align-items: center;
   max-height: 50px;
}

.chords h2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.ProgressionsMood {
   padding: 20px;
   line-height: 2.5rem;
}

.background {
    background-color: var(--backgroundColor);
}

.chordShow {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}


.random {
    display: flex;
    flex-direction: column;
  align-items: center;
}



.random h2 {  
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

#myBox {
    width: 50%;
    display: flex;
    font-size: 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--backgroundColor);
}

.hide {
 background-color: aliceblue;
}

.randomButtons {
    padding: 20px;
    display: flex;
   justify-content: center;
   align-items: center;

}

.randomButtons button{
    width: 70px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(177, 176, 180);
    min-height: 40px;
    align-items: center;
    color: rgb(92, 72, 139);
    padding: 0 20px;
}


/* .................................  */



.neck {
    display: flex;
    padding: 1px;
    background-color: rgb(159, 72, 72);
    overflow: auto;
    flex:1 1 200px;
    width: 100%;
    
   
}

.nut {
    background-color: rgb(255, 255, 255);
    min-width: 5px;
    height: 83%;
 
}

.board {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
   
}
    
.fret { 
    min-width: 4px;
    background-color: rgb(149, 149, 154);
    height: 83%;

}

.notesOnNeck {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: 1px solid rgb(255, 255, 255);
    margin: 3px;
   
}

.fretPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    border: 1px solid white;
    margin: 3px;
    background-color: black;
    color: rgb(255, 255, 255);

}

#octiveFret {
    background-color: rgb(52, 52, 52);
    width: 5px;
}

.fretboardHolder {
    display: flex;
    background-color: rgb(183, 183, 187);
    padding: 30px;
    position: sticky;
    top:-110px

}

.fretboardHolder h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 2rem;
}

.fretboardHolder button {
    align-self: flex-end;
    display: flex;
    width: 30px;
    height: 30PX;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}



.open div {
    background-color: rgb(131, 125, 118);
   
}

.glow {
    background-color: aqua;
}